---
layout: default
title: Home
notitle: true

# groups of columns of {roles: list, width: num, image: bool}
role-tables:
 - - roles: [director]
     image: true
     width: 4
   - roles: [faculty]
     image: true
     width: 4
   - roles: [affiliated]
     image: true
     width: 4
 - - roles: [phd]
     width: 12
     image: true
 - - roles: [masters]
     width: 12
     image: true

---

<div class="jumbotron">
    <p>
      The Data Fusion Lab was a multi-disciplinary group of researchers studying a wide range of topics in engineering, including:
    </p>
      <ul>
      <li>System theory and its applications,</li>
      <li>Distributed detection,</li>
      <li>Data and decision fusion,</li>
      <li>Navigation and robotics,</li>
      <li>Wireless communications,</li>
      <li>Digital signal processing,</li>
      <li>Dynamics and controls of biological systems,</li>
      <li>Bio-Informatics,</li>
      <li>Handwriting forensics, and</li>
      <li>Machine learning.</li>
      </ul>
    <p>
    The lab was established in 1989 at Drexel University and has graduated 23 students with a Ph.D., 27 with an M.S., and 18 with B.S./M.S. degrees.
    </p>
    <p>
    The lab's research has been sponsored by organizations including U.S. Army CERDEC, U.S. Office of Naval Research, U.S. Army Research Laboratory, Lockheed Martin, DARPA, FAA, and Janssen.
    </p>
</div>

<div id="people">
    <h2>People</h2>
    {% for role-table in page.role-tables %}
        <section class="people row justify-content-between">
            {% for role-column in role-table %}
                <div class="col-md-{{ role-column.width }}">
                    {% for role in role-column.roles %}
                        {% include role-people.html role=role image=role-column.image %}
                    {% endfor %}
                </div>
            {% endfor %}
        </section>
    {% endfor %}
</div>
